*.DS_Store
.DS_Store
articles/WATSS_Video.mkv
source/frames/1/*
source/frames/2/*
source/php/connection.ini
source/img/avatars/*


source/DB/insertData2DB.sql

.buildpath

.project

.settings/.jsdtscope

.settings/org.eclipse.wst.jsdt.ui.superType.name

.settings/org.eclipse.wst.jsdt.ui.superType.container

.settings/org.eclipse.wst.common.project.facet.core.xml

.settings/org.eclipse.php.core.prefs

.pydevproject

source/img/avatars/10.jpg
