*.DS_Store
.DS_Store
articles/WATSS_Video.mkv
source/frames/1/*
source/frames/2/*
source/php/connection.ini
source/img/avatars/*
source/database/insertData2DB.sql
source/.settings
source/.buildpath
source/.project
.buildpath
.project
.settings/*
.pydevproject
*.save
*.pyc
results/*.jpg

*.gz
*.toc
*.log
*.vrb
*.snm
*.nav
*.out
*.aux
*.sty
*.dtx
*.ins
*.blg
*.bbl
*.def

doc/credenziali.txt

source/php/tmp/*

source/php/output/*

source/img/validation/*

wrapper/OpenCV-FileStorage/.cproject
wrapper/OpenCV-FileStorage/Debug/*

