@CHARSET "UTF-8";

body {
    background-color: rgba(0, 0, 0, 0.06);
}

div#setup-wrapper {
    margin: 20px auto 40px;
    width: 60%;
    background-color: white;
    padding: 2em;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

#setup-wrapper header h1 {
    text-align: center;
}

header {
    margin-bottom: 80px;
}

ul {
    margin: 10px 0;
}

section {
    margin-bottom: 50px;
}

section h3 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.24);
    padding-bottom: 10px;
    margin-bottom: 20px;
}

section p {
    margin-bottom: 25px;
}

section#users-section {
	display: none;
}

.form-button {
    position: relative;
}

.form-button img.loading {
    position: absolute;
    height: 100%;
    top: 0;
    left: 160px;
}

.form-button span {
    margin-left: 20px;
}

.form-button span.message {
    font-size: 12pt;
}

span.message.glyphicon.glyphicon-ok {
    color: #006D0D;
}

span.message.glyphicon.glyphicon-remove {
    color: #D20000;
}

.form-button span.message {
    font-size: 16pt;
    position: absolute;
    top: 6px;
    left: 150px;
}

#cameras-form .form-button {
    position: relative;
    margin-bottom: 30px;
    margin-top: 20px;
}