@CHARSET "UTF-8";

body {
    background-color: rgba(0, 0, 0, 0.06);
}

div#setup-wrapper {
    margin: 20px auto 40px;
    width: 60%;
    background-color: white;
    padding: 2em;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

#setup-wrapper header h1 {
    text-align: center;
    margin-top: 0;
    font-weight: normal;
    margin-bottom: 0;
}

header {
    margin-bottom: 50px;
}

ul {
    margin: 10px 0;
}

section {
    margin-bottom: 50px;
}

section h3 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.24);
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 28px;
}

section p {
    margin-bottom: 25px;
}

.form-button {
    position: relative;
}

.form-button img.loading {
    position: absolute;
    height: 100%;
    top: 0;
    left: 160px;
}

.form-button span {
    margin-left: 20px;
}

.form-button span.message {
    font-size: 12pt;
}

span.icon.glyphicon.glyphicon-ok,
span.message.glyphicon.glyphicon-ok {
    color: #006D0D;
}

span.icon.glyphicon.glyphicon-remove,
span.message.glyphicon.glyphicon-remove {
    color: #D20000;
}

.form-button span.message {
    font-size: 16pt;
    position: absolute;
    top: 6px;
    left: 150px;
}

#cameras-form .form-button {
    position: relative;
    margin-bottom: 30px;
    margin-top: 20px;
}

section h4 {
    margin-bottom: 30px;
    font-style: italic;
}

#camera-settings {
	display: none;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

#importing-data-container {
	display: none;
}

div.data-container {
    margin-top: 30px;
}

#input-script-check {
	margin-top: 20px;
	margin-bottom: 20px;
}

header img#logo {
    width: 40%;
    display: block;
    margin: 0 auto;
}

.data-container h5 {
    font-size: 14pt;
    margin: 30px 0 20px;
}

.bootstrap-tagsinput {
    width: 100%;
    font-size: 15pt;
    line-height: 23pt;
}

.bootstrap-tagsinput .label{
	font-weight: normal;
	line-height: 24pt;
}

/** Install section **/
section#install-section {
    margin-top: 40px;
}

button#install-button {
    display: block;
    margin: 30px auto 30px;
}

#install-progress {
    height: 30px;
    display: none;
}

#install-progress .progress-bar {
    line-height: 30px;
    font-size: 10pt;
}

p.check-label {
    font-style: italic;
    margin-bottom: 15px;
}

p.check-label .icon {
    display: inline-flex;
    margin-left: 30px;
    font-size: 20px;
}

div#install-log-container {
    margin-top: 30px;
}

p.install-log-entry {
    margin: 10px 0 0;
    font-size: .9em;
}
p.install-log-entry.success {
    color: #006D0D;
}

p.install-log-entry.error {
    color: #CD0000;
    font-weight: bold;
}

section#installation-success {
    display: none;
}

button#start-button {
    margin: 50px auto 0;
    display: block;
}
