#content {
	margin: 15px;
}

img#home-screenshot {
    width: 100%;
}

div#content-wrapper {
    margin: 30px;
}

/** Navigation bar **/

.main-nav {
	font-weight: bold;
}

.navbar-brand img {
    height: 100%;
}

/** Homepage **/

#content-wrapper header {
    text-align: center;
    margin-bottom: 40px;
}

header img#logo {
    width: 18%;
}

img#frame-preview {
    width: 80%;
    margin: 0 auto;
    display: block;
    border-radius: 3px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.28);
}

div#features-list {
    margin: 30px;
    background-color: rgba(76, 125, 126, 0.09);
    padding: 20px;
    border-radius: 3px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
}

#features-list li {
    position: relative;
}

.arrow {
    position: absolute;
    height: 2px;
    background-color: #DED084;
    z-index: 100;
    border-radius: 2px 0 0 2px;
    display: none;
}

.arrow:after {
    content: '';
    width: 0;
    height: 0;
    border-color: transparent transparent transparent #DED084;
    border-style: solid;
    border-width: 12px;
    float: right;
    margin-top: -12px;
    margin-right: -24px;
}

.arrow-bb {
    width: 477px;
    top: 0px;
    left: 116px;
    transform: rotate(-3deg);
}

.arrow-bbv {
    width: 841px;
    top: -11px;
    left: 116px;
    transform: rotate(-3deg);
}

.arrow-hgaze {
     width: 753px;
    top: -16px;
    left: 105px;
    transform: rotate(-4deg);
}

.arrow-bgaze {
        width: 753px;
    top: -16px;
    left: 105px;
    transform: rotate(-4deg);
}

.arrow-poi {
    width: 580px;
    top: -99px;
    left: 120px;
    transform: rotate(-22deg);
}

#features-list h4 {
    color: #3B6465;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 22px;
}

#features-list li {
    position: relative;
    font-size: 16px;
    margin-bottom: 13px;
    font-style: italic;
    cursor: pointer;
}

#features-list li:HOVER {
    color: #305253;
    font-weight: bold;
}

#features-list li:HOVER .arrow {
    display: block;
}

/** Panels **/

.panel-heading {
    font-weight: bold;
}

.table {
	margin: 0px;
}

.pickthb {
	height: 20px;
	width: 20px;
	margin: 0px;
	background-color: #111111;
}

.draggable {
	margin: 0px;
	padding: 0px;
}

#username {
	height: 28px;
}

.frame-number{
	width: 120px;
	min-width: 120px;
}

#video-box{
	position: absolute;
	height: 425px;
	overflow: hidden;
}

.bb{
	position: absolute;
	z-index: 3;
	cursor: pointer;
}
.bbV {
	position: absolute;
	z-index: 2;
	cursor: pointer;
}

.face {
	position: absolute;
}

.frame-form {
	margin-top: 20px;
}

footer {
    width: 100%;
    height: 50px;
    background-color: #f5f5f5;
    font-size: .8em;
    padding: 10px 40px;
    line-height: 36px;
    box-shadow: 0px -1px 1px rgba(0, 0, 0, 0.15);
}

.preview h3 {
    color: #3B6465;
    text-align: center;
    margin-bottom: 30px;
}

/* Image picker dimension */
img.image_picker_image {
    height: 100px;
}

/** Panels **/

a.btn-panel {
    float: right;
}

.panel-heading {
    line-height: 34px;
}

.paging_bootstrap.pagination, 
.paging_bootstrap .pagination {
    margin: 20px 0 10px;
}

div.dataTables_info {
    padding: 2px;
}

/* Settings */

.settings.row {
    margin-top: 25px;
}

.settings-panel .alert {
    margin: 15px 0 0;
}

.panel-heading span.label {
    float: right;
}

.settings-panel .panel-heading img.panel-loading {
    position: absolute;
    top: 6px;
    right: 30px;
    width: 25px;
}

.settings-panel .panel-body img.panel-loading {
    display: block;
    margin: 30px auto 20;
    width: 15%;
}

.settings-panel .scrollable-container {
    overflow: hidden;
}

.settings-panel .scrollable {
    max-height: 182px;
    overflow-y: scroll;
    width: 100%;
}

.scrollable-container {
    margin-top: 14px;
}

.list-group span.badge {
    cursor: pointer;
}

.list-group span.badge:HOVER {
    background-color: #7C7C7C;
}

img.panel-heading-loading {
    position: absolute;
    width: 30px;
    top: 55px;
    right: 50px;
}

#camera-settings a.editable {
    float: right;
}

#camera-settings span.editable-container.editable-inline {
    float: right;
    margin-top: -5px;
}

#camera-settings input.form-control.input-sm {
    width: 60px;
}

#add-poi-form input.number {
    width: 90px;
}

div#video-overlay {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1000;
}

#video-overlay div#bb-selection {
    position: absolute;
    border: 2px solid #000;
}

input#add-poi-name {
    width: 250px;
    margin: 0 30px;
}

button#add-poi-submit {
    margin-left: 20px;
}

.modal .panel-heading {
    line-height: 20px;
    font-weight: normal;
    padding-left: 60px;
}

.panel-heading .radio {
    margin-left: 15px;
}

.panel-heading .radio input {
    left: -18px;
}

.export.row {
    margin-top: 30px;
}

a#export_schema {
    margin-right: 5px;
}