body {
	margin: 15px;
}

img#home-screenshot {
    width: 100%;
}

div#content-wrapper {
    margin: 30px;
}

/** Navigation bar **/

.main-nav {
	font-weight: bold;
}

/** Panels **/

.panel-heading {
    font-weight: bold;
}

.table {
	margin: 0px;
}

.pickthb {
	height: 20px;
	width: 20px;
	margin: 0px;
	background-color: #111111;
}

.draggable {
	margin: 0px;
	padding: 0px;
}

#username {
	height: 28px;
}

.frame-number{
	width: 120px;
	min-width: 120px;
}

#video-box{
	position: absolute;
	height: 425px;
}

.bb{
	position: absolute;
	z-index: 3;
}
.bbV {
	position: absolute;
	z-index: 2;
}

.face {
	position: absolute;
}

.frame-form {
	margin-top: 20px;
}

/* Image picker dimension */
img.image_picker_image {
    max-height: 100px;
}

/** Panels **/

a.btn-panel {
    float: right;
}

.panel-heading {
    line-height: 34px;
}

.paging_bootstrap.pagination, 
.paging_bootstrap .pagination {
    margin: 20px 0 10px;
}

div.dataTables_info {
    padding: 2px;
}

/* Settings */

.settings.row {
    margin-top: 25px;
}

